<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Файли</title>
    <link rel="stylesheet" th:href="@{/css/files-style.css}">
</head>
<body>

<header>
    <h1>TextEditor</h1>
    <div class="user-info" th:if="${currentUser != null}">
        <span th:text="${currentUser.username}"></span>
        <a th:href="@{/logout}" class="logout">Вийти</a>
    </div>
</header>

<div class="container">

    <p th:text="${errorMessage}" class="error"></p>
    <p th:text="${message}" class="success"></p>

    <table>
        <thead>
        <tr>
            <th>Назва файлу</th>
            <th>Шлях</th>
            <th>Останнє редагування</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${files}">
            <td th:text="${file.fileName}">Example.txt</td>
            <td th:text="${file.filePath}">/home/user/example.txt</td>
            <td th:text="${file.lastUpdate}">2025-11-22</td>
            <td>
                <form th:action="@{/files/{id}(id=${file.id})}" method="get" style="display:inline">
                    <button type="submit" class="view">Переглянути</button>
                </form>
                <form th:action="@{/files/{id}/delete(id=${file.id})}" method="post" style="display:inline">
                    <button type="submit" class="delete">Видалити</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
<div  style="margin-top: 10px; display: flex; gap: 10px;">
    <div>
        <a th:href="@{/files/new}"><button class="new-file-button">Створити новий файл</button></a>
    </div>
    <form action="/files/open_from" method="post" enctype="multipart/form-data" style="margin-top: 5px;">
        <label class="new-file-button">
            Обрати файл
            <input type="file" name="file" onchange="this.form.submit()" hidden>
        </label>
    </form>
</div>
</div>
</body>
</html>
