<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Вхід користувача</title>
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
</head>
<body>

<div class="container">
    <h2>Вхід користувача</h2>

    <p th:text="${errorMessage}" class="error"></p>
    <p th:text="${message}" class="success"></p>

    <form th:action="@{/login}" method="post">
        <label>Username</label>
        <input type="text" name="username" required/>

        <label>Password</label>
        <input type="password" name="password" required/>

        <button type="submit">Login</button>
    </form>

    <p><a th:href="@{/register}">Ще не зареєстровані? Реєстрація</a></p>
</div>

</body>
</html>